/*Medium Layout: 1280*/
@media only screen and (min-width: 992px) and (max-width: 1200px){}

/*Tablet Layout: 768px*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .main-menu-wrapper ul li a {
        padding: 10px 4px;
    }

    .main-menu-wrapper ul li i {
        right: -5px;
    }
}

/*Mobile Layout: 320px*/
@media only screen and (max-width: 767px) {
    .mobile-footer-wrapper {
        display: block;
    }
    section.main-menu-section {
        display: none;
    }
    .small-post-widget li {
        width: 100%;
    }

    .small-post-widget ul:after {
        height: 0;
    }

    .post-meta div {
        font-size: 1em;
    }
}
/*Wide Mobile Layout: 480px*/

@media only screen and (min-width: 480px) and (max-width: 767px) {}